.box {
    width: 5px;
    height: 5px;
    border: 2px solid rgb(0, 0, 0);
    padding: 3px;
    margin: 3px;
}

.icon {
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.hidden {
    display: none;
}

#status {
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
}

#display {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    border: 1px solid black;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    display: flex;
    background-color: rgba(57, 57, 57, 0.189)
}